{% extends "base.html" %}

{% block title %}Changer le Mot de Passe{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <i class="fas fa-key fa-4x mb-3 text-primary"></i>
                    <h3 class="card-title">Changer le Mot de Passe</h3>
                    <p class="card-text">Veuillez entrer votre email et votre ancien mot de passe pour en choisir un nouveau.</p>
                    
                    <form method="POST" action="/update-password/{{ token }}">
                        <div class="form-group">
                            <label for="email">Adresse Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label for="old_password">Ancien Mot de Passe</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label for="new_password">Nouveau Mot de Passe</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <label for="confirm_password">Confirmer le Nouveau Mot de Passe</label>
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-lg mt-4">
                            <i class="fas fa-save"></i> Mettre à Jour
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
{% endblock %}

